@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  --first-color: #222831;
  --second-color: #393e46;
  --third-color: #ff5a00; 
  --fourth-color: #f2f2f2;
  --font-size-xs: 0.65rem;
  --font-size-sm: 0.7rem;
  --font-size-md: 0.8rem;
  --font-size-lg: 1rem;
  --font-size-xl: 1.2rem;
}

ul {
  list-style-type: none !important;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.8rem;
}

.bg-first-color { 
	background-color: var(--first-color) 
}
	
.bg-second-color { 
	background-color: var(--second-color)
}

.bg-third-color { 
	background-color: var(--third-color)
}

.bg-fourth-color { 
	background-color: var(--fourth-color) 
}

.tx-first-color { 
	color: var(--first-color) 
}
	
.tx-second-color { 
	color: var(--second-color)
}

.tx-third-color { 
	color: var(--third-color)
}

.tx-fourth-color { 
	color: var(--fourth-color) 
}

.tx-size-xs {
  font-size: var(--font-size-xs);
}

.tx-size-sm {
  font-size: var(--font-size-sm);
}

.tx-size-md {
  font-size: var(--font-size-md);
}

.tx-size-lg {
  font-size: var(--font-size-lg);
}

.tx-size-xl {
  font-size: var(--font-size-xl);
}

a {
  text-decoration: none !important;
  
}